<div id='3d' class='threeDRenderer' style="width:100%; height:66%;">
    <div id="colormap_wmh" style="position: absolute; left: 10px; bottom: 10px"></div>
    <div id="colormap_cmb" style="position: absolute; left: 10px; bottom: 60px"></div>
    <div id="colormap_epvs" style="position: absolute; left: 10px; bottom: 110px"></div>
    <div id="colormap_overlaps" style="position: absolute; left: 10px; bottom: 160px"></div>
</div>

<div id='sliceAx' class='twoDRenderer' style="width:33.3%; height:34%; float: left;">
    <div id='blue_slider'></div>
    <div id='ax_right_label' class='left_annotation'>R</div>
    <div id='ax_left_label' class='right_annotation'>L</div>
    <div id='ax_top_label' class='top_annotation'>A</div>
    <div id='ax_bottom_label' class='bottom_annotation'>P</div>
</div>
<div id='sliceSag' class='twoDRenderer' style="width:33.4%; height:34%;  float: left;">
    <div id='red_slider'></div>
    <div id='sag_right_label' class='right_annotation'>P</div>
    <div id='sag_left_label' class='left_annotation'>A</div>
    <div id='sag_top_label' class='top_annotation'>S</div>
    <div id='sag_bottom_label' class='bottom_annotation'>I</div>
</div>
<div id='sliceCor' class='twoDRenderer' style="width:33.3%; height:34%;  float: left;">
    <div id='green_slider'></div>
    <div id='cor_right_label' class='left_annotation'>R</div>
    <div id='cor_left_label' class='right_annotation'>L</div>
    <div id='cor_top_label' class='top_annotation'>S</div>
    <div id='cor_bottom_label' class='bottom_annotation'>I</div>
</div>