<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
    <meta charset="UTF-8">
    <title>Improved Dual Analysis Approach</title>

    <!------------------------------------libraries-------------------------------------------------------------------->
    <script type='text/javascript' src='libraries/guify.js'></script>
    <!-- JQuery -->
    <script type='text/javascript' src='libraries/jquery/jquery-1.12.4.js'></script>
    <script type='text/javascript' src='libraries/jquery-ui/jquery-ui.js'></script>
    <script type='text/javascript' src='libraries/jquery-ui/jquery.ui.slider.js'></script>
    <script type='text/javascript' src='libraries/jquery/jquery.filestyle.js'></script>
    <!------------------------------------xtk-------------------------------------------------------------------->
    <!--<script type='text/javascript' src='li/bootstrap-modal.js'></script>-->
    <script type='text/javascript' src='libraries/xtk/x.rendering.js'></script>
    <script type='text/javascript' src='libraries/xtk/x.scene.js'></script>
    <script type='text/javascript' src='libraries/xtk/x.share.js'></script>
    <script type='text/javascript' src='libraries/xtk/x.realtime.js'></script>
    <script type='text/javascript' src='libraries/xtk/xtk.js'></script>
    <!------------------------------------three-------------------------------------------------------------------->
    <script type="text/javascript" src="libraries/three.min.js"></script>

    <!------------------------------------general------------------------------------------------------------------------>
    <script src="descriptive_statistics_keys.js" type="text/javascript"></script>
    <script src="general_ids.js" type="text/javascript"></script>

    <script src="text_width_helper.js" type="text/javascript"></script>

    <!------------------------------------model------------------------------------------------------------------------>
    <script src="model/model_predefined_data_types.js" type="text/javascript"></script>
    <script src="model/model_general_parameters.js" type="text/javascript"></script>
    <script src="model/model_load_from_csv.js" type="text/javascript"></script>
    <script src="model/model_get_initial_datatypes.js" type="text/javascript"></script>
    <script src="model/model_get_descriptive_statistical_measures.js" type="text/javascript"></script>
    <script src="model/model_format_datatypes.js" type="text/javascript"></script>
    <script src="model/model_automatic_data_cleansing.js" type="text/javascript"></script>
    <script src="model/model_compute_deviations.js" type="text/javascript"></script>
    <script src="model/model_kernelDensityEstimator.js" type="text/javascript"></script>
    <script src="model/model_wilcox_indexes.js" type="text/javascript"></script>
    <script src="model/model_run_famd_on_user_selection.js" type="text/javascript"></script>
    <script src="model/model_toggle_include_missing_values.js" type="text/javascript"></script>
    <script src="model/model_preprocess_mesh.js" type="text/javascript"></script>
    <script src="model/model_get_image_files.js" type="text/javascript"></script>

    <!------------------------------------view------------------------------------------------------------------------->
    <script src="view/view_general.js" type="text/javascript"></script>

    <script src="view/view_dimensions_plots.js" type="text/javascript"></script>
    <script src="view/view_items_plot.js" type="text/javascript"></script>
    <script src="view/view_items_plot_new.js" type="text/javascript"></script>
    <script src="view/view_likelihood_of_correlations_plot.js" type="text/javascript"></script>
    <script src="view/view_run_famd_button.js" type="text/javascript"></script>
    <script src="view/view_applied_filters.js" type="text/javascript"></script>
    <script src="view/view_carousel_functionalities.js" type="text/javascript"></script>
    <script src="view/view_autocomplete_form.js" type="text/javascript"></script>

    <script src="view/view_donut_chart_context.js" type="text/javascript"></script>

    <script src="view/pcp_plot_functionalities/pcp_plot_variables.js" type="text/javascript"></script>
    <script src="view/pcp_plot_functionalities/pcp_add_dimension.js" type="text/javascript"></script>
    <script src="view/pcp_plot_functionalities/pcp_bottom_buttons_functionalities.js" type="text/javascript"></script>

    <script src="view/view_tooltip.js" type="text/javascript"></script>

    <script src="view/overplotting_tooltip.js" type="text/javascript"></script>

    <script src="view/view_buttons.js" type="text/javascript"></script>

    <script type='text/javascript' src='view/view_viewer.js'></script>
    <script type='text/javascript' src='view/view_frontpage.js'></script>
    <script type='text/javascript' src='view/view_orientationgizmo.js'></script>
    <script type='text/javascript' src='view/view_guify.js'></script>
    <script type="text/javascript" src="view/view_legend.js"></script>
    <script type="text/javascript" src="view/view_bullseye_plot.js"></script>


    <!------------------------------------controller------------------------------------------------------------------->
    <script src="controller/controller.js" type="text/javascript"></script>

    <script src="language_support/language_ids.js" type="text/javascript"></script>
    <script src="language_support/language_support.js" type="text/javascript"></script>

    <!------------------------------------style------------------------------------------------------------------------>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="view/items_plot_new.css">
    <link rel="stylesheet" href="style_carousel.css">
    <link rel="stylesheet" href="style_autocomplete_form.css">

    <link href='css/bootstrap.css' rel='stylesheet' />
    <link href='css/bootstrap-responsive.css' rel='stylesheet' />
    <link type='text/css' rel='stylesheet' href='css/xtheme/jquery.ui.css' />
   <!-- <link type='text/css' rel='stylesheet' href='css/jquery.miniColors.css' />
    <link type='text/css' rel='stylesheet' href='css/jquery.sidebar.css' />-->
    <link type='text/css' rel='stylesheet' href='css/frontpage.css' />
    <link type='text/css' rel='stylesheet' href='css/viewer.css' />
    <link type='text/css' rel='stylesheet' href='css/orientationgizmo.css' />
    <link type='text/css' rel='stylesheet' href='css/bullseye.css' />

 </head>
 <body id='body' class='webgl_enabled' style="height:100%">

 <div id="view" class="view_class" style="height:100%">
     <div id="left_view" style="width:50%; float:left">
         <div id="dimensions" class="dimensions_class"></div>
         <div id="items" class="items_class"></div>
         <div id="likelihood_of_correlation" class="likelihood_of_correlation_class"></div>
     </div>
     <div id="center_view" style="width:20%; height:100%; float:left">
         <div style="display: flex; height: calc(var(--items_height) + 5px)">
             <div id="buttons" class="buttons_class" style="margin-right: 0px">
                 <div id="id_view_selection" class="class_heading"></div>
                 <div class="each_button_set_view_class">
                     <button type = "button" onclick = "showSingleSelection()" style="width: fit-content; min-width: 50px; margin-right: 5px; float: left">
                         Show Selection
                     </button>
                     <button type = "button" onclick = "showComparisonWithAll()" style="width: fit-content; min-width: 50px; margin-right: 5px; float: left">
                         Compare to All
                     </button>
                     <button type = "button" onclick = "showComparisonWithRemaining()" style="width: fit-content; min-width: 50px; margin-right: 5px; float: left">
                         Compare to Remaining
                     </button>
                 </div>
             </div>
             <div id="buttons" class="buttons_class" style="margin-left: 0px">
                 <div id="id_compare_individual_selections" class="class_heading"></div>
                 <div class="each_button_set_view_class">
                     <button type = "button" onclick = "storeIDs()" style="width: fit-content; min-width: 50px; margin-right: 5px">
                         Save Selection
                     </button>
                     <button type = "button" onclick = "deleteIDs()" style="width: fit-content; min-width: 50px; margin-right: 5px">
                         Delete Selection
                     </button>
                     <button id="ShowTwoSelections" type = "button" onclick = "showComparisonNewSelection()" style="width: fit-content; min-width: 50px; margin-right: 5px" disabled>
                         Compare to Saved Selection
                     </button>
                     <div id="id_saved_selection_heading" class="class_heading" style="margin-top: 10px"></div>
                     <div id ="currentSavedSelection" style="color: black; margin-top: 5px"></div>
                 </div>
             </div>
         </div>
         <div class="bullseye_class" style="height: 70%">
             <div id="id_bullseye_box" class="class_heading"></div>
             <div class="bullseye_set_view_class">
                 <div id="single_bullseye_view">
                     <div class="box">
                         <div class="content" id="bullseye_wmh"></div>
                     </div>
                     <div id="bullseye_wmh_colorbar" style="left: 5%; width: 90%; margin-left: 5%"></div>
                     <div class="box">
                         <div class="content" id="bullseye_cmb"></div>
                     </div>
                     <div id="bullseye_cmb_colorbar" style="left: 5%; width: 90%; margin-left: 5%"></div>
                     <div class="box">
                         <div class="content" id="bullseye_epvs"></div>
                     </div>
                     <div id="bullseye_epvs_colorbar" style="left: 5%; width: 90%; margin-left: 5%"></div>
                 </div>
                 <div id="cohort_bullseye_view" style="display: none">
                     <button type = "button" onclick = "buttonSwap()" style="width: fit-content; min-width: 50px; margin-right: 5px">
                         Swap Median and IOR
                     </button>
                     <div style="display: block; margin-bottom: 3%"></div>
                     <table style="width: 100%">
                         <colgroup>
                             <col span="1" style="width: 70%;">
                             <col span="1" style="width: 30%;">
                         </colgroup>

                         <tr style="color: black">
                             <td id="cohort_table_header_left" style="text-align:center">Median</td>
                             <td id="cohort_table_header_right" style="text-align:center">IQR</td>
                         </tr>
                         <tr><td colspan="2"><hr></td></tr>
                         <tr>
                             <td><div id="bullseye_wmh_cohort" style="pointer-events: fill"></div></td>
                             <td style="vertical-align: bottom"><div id="bullseye_wmh_iqr" style="pointer-events: fill; margin-bottom: 5%"></div></td>
                         </tr>
                         <tr>
                             <td colspan="2"><div id="bullseye_wmh_cohort_colorbar" style="position: relative; left: 5%; width: 90%"></div></td>
                         </tr>
                         <tr>
                             <td><div id="bullseye_cmb_cohort" style="pointer-events: fill"></div></td>
                             <td style="vertical-align: bottom"><div id="bullseye_cmb_iqr" style="pointer-events: fill; margin-bottom: 5%"></div></td>
                         </tr>
                         <tr>
                             <td colspan="2"><div id="bullseye_cmb_cohort_colorbar" style="position: relative; left: 5%; width: 90%"></div></td>
                         </tr>
                         <tr>
                             <td><div id="bullseye_epvs_cohort" style="pointer-events: fill"></div></td>
                             <td style="vertical-align: bottom"><div id="bullseye_epvs_iqr" style="pointer-events: fill; margin-bottom: 5%"></div></td>
                         </tr>
                         <tr>
                             <td colspan="2"><div id="bullseye_epvs_cohort_colorbar" style="position: relative; left: 5%; width: 90%"></div></td>
                         </tr>
                     </table>
                 </div>
                 <div id="sub_bullseye_view" style="display: none">
                     <button type = "button" onclick = "buttonSwap()" style="width: fit-content; min-width: 50px; margin-right: 5px">
                         Swap Median and IOR
                     </button>
                     <div style="display: block; margin-bottom: 3%"></div>
                     <table style="width: 100%">
                         <colgroup>
                             <col span="1" style="width: 24%;">
                             <col span="1" style="width: 14%;">
                             <col span="1" style="width: 24%;">
                             <col span="1" style="width: 14%;">
                             <col span="1" style="width: 24%;">
                         </colgroup>

                         <tr style="color: black">
                             <td id="sub_table_header_left1" style="text-align:center">Median</td>
                             <td id="sub_table_header_right1" style="text-align:center">IQR</td>
                             <td id="sub_table_header_left2" style="text-align:center">Median</td>
                             <td id="sub_table_header_right2" style="text-align:center">IQR</td>
                             <td style="text-align:center">SUB</td>
                         </tr>
                         <tr><td colspan="5"><hr></td></tr>
                         <tr>
                             <td><div id="bullseye_wmh_cohort1" style="pointer-events: fill"></div></td>
                             <td style="vertical-align: bottom"><div id="bullseye_wmh_iqr1" style="pointer-events: fill; margin-bottom: 5%"></div></td>
                             <td><div id="bullseye_wmh_cohort2" style="pointer-events: fill"></div></td>
                             <td style="vertical-align: bottom"><div id="bullseye_wmh_iqr2" style="pointer-events: fill; margin-bottom: 5%"></div></td>
                             <td><div id="bullseye_wmh_sub" style="pointer-events: fill"></div></td>
                         </tr>
                         <tr>
                             <td colspan="5">
                                 <table style="width: 100%">
                                     <td colspan="1"><div id="bullseye_wmh_sub_cohort_colorbar" style="width: 90%; margin-left: 5%"></div></td>
                                     <td colspan="1"><div id="bullseye_wmh_sub_colorbar" style="width: 90%; margin-left: 5%"></div></td>
                                 </table>
                             </td>
                         </tr>
                         <tr>
                             <td><div id="bullseye_cmb_cohort1" style="pointer-events: fill"></div></td>
                             <td style="vertical-align: bottom"><div id="bullseye_cmb_iqr1" style="pointer-events: fill; margin-bottom: 5%"></div></td>
                             <td><div id="bullseye_cmb_cohort2" style="pointer-events: fill"></div></td>
                             <td style="vertical-align: bottom"><div id="bullseye_cmb_iqr2" style="pointer-events: fill; margin-bottom: 5%"></div></td>
                             <td><div id="bullseye_cmb_sub" style="pointer-events: fill"></div></td>
                         </tr>
                         <tr>
                             <td colspan="5">
                                 <table style="width: 100%">
                                     <td colspan="1"><div id="bullseye_cmb_sub_cohort_colorbar" style="width: 90%; margin-left: 5%"></div></td>
                                     <td colspan="1"><div id="bullseye_cmb_sub_colorbar" style="width: 90%; margin-left: 5%"></div></td>
                                 </table>
                             </td>
                         </tr>
                         <tr>
                             <td><div id="bullseye_epvs_cohort1" style="pointer-events: fill"></div></td>
                             <td style="vertical-align: bottom"><div id="bullseye_epvs_iqr1" style="pointer-events: fill; margin-bottom: 5%"></div></td>
                             <td><div id="bullseye_epvs_cohort2" style="pointer-events: fill"></div></td>
                             <td style="vertical-align: bottom"><div id="bullseye_epvs_iqr2" style="pointer-events: fill; margin-bottom: 5%"></div></td>
                             <td><div id="bullseye_epvs_sub" style="pointer-events: fill"></div></td>
                         </tr>
                         <tr>
                             <td colspan="5">
                                 <table style="width: 100%">
                                     <td colspan="1"><div id="bullseye_epvs_sub_cohort_colorbar" style="width: 90%; margin-left: 5%"></div></td>
                                     <td colspan="1"><div id="bullseye_epvs_sub_colorbar" style="width: 90%; margin-left: 5%"></div></td>
                                 </table>
                             </td>
                         </tr>
                     </table>
                     <!--<div id="bullseye_wmh_cohort1" style="position: relative; float: left; pointer-events: fill; width: 25%"></div>
                     <div id="bullseye_wmh_iqr1" style="position: relative; float: left; pointer-events: fill; width: 10%; margin-top: 2.5vw"></div>
                     <div id="bullseye_wmh_cohort2" style="position: relative; float: left; pointer-events: fill; width: 25%"></div>
                     <div id="bullseye_wmh_iqr2" style="position: relative; float: left; pointer-events: fill; width: 10%; margin-top: 2.5vw"></div>
                     <div id="bullseye_wmh_sub" style="position: relative; float: left; pointer-events: fill; width: 25%"></div>
                     <div style="display: block"> </div>
                     <div id="bullseye_wmh_sub_cohort_colorbar" style="margin-left: 20%; width: 30%; float: left"></div>
                     <div id="bullseye_wmh_sub_colorbar" style="margin-left: 10%; width: 30%; float: left"></div>
                     <div style="display: block"> </div>
                     <div id="bullseye_cmb_cohort1" style="position: relative; float: left; pointer-events: fill; width: 25%"></div>
                     <div id="bullseye_cmb_iqr1" style="position: relative; float: left; pointer-events: fill; width: 10%; margin-top: 2.5vw"></div>
                     <div id="bullseye_cmb_cohort2" style="position: relative; float: left; pointer-events: fill; width: 25%"></div>
                     <div id="bullseye_cmb_iqr2" style="position: relative; float: left; pointer-events: fill; width: 10%; margin-top: 2.5vw"></div>
                     <div id="bullseye_cmb_sub" style="position: relative; float: left; pointer-events: fill; width: 25%"></div>
                     <div style="display: block"> </div>
                     <div id="bullseye_cmb_sub_cohort_colorbar" style="margin-left: 20%; width: 30%; float: left"></div>
                     <div id="bullseye_cmb_sub_colorbar" style="margin-left: 10%; width: 30%; float: left"></div>
                     <div style="display: block"> </div>
                     <div id="bullseye_epvs_cohort1" style="position: relative; float: left; pointer-events: fill; width: 25%"></div>
                     <div id="bullseye_epvs_iqr1" style="position: relative; float: left; pointer-events: fill; width: 10%; margin-top: 2.5vw"></div>
                     <div id="bullseye_epvs_cohort2" style="position: relative; float: left; pointer-events: fill; width: 25%"></div>
                     <div id="bullseye_epvs_iqr2" style="position: relative; float: left; pointer-events: fill; width: 10%; margin-top: 2.5vw"></div>
                     <div id="bullseye_epvs_sub" style="position: relative; float: left; pointer-events: fill; width: 25%"></div>
                     <div style="display: block"> </div>
                     <div id="bullseye_epvs_sub_cohort_colorbar" style="margin-left: 20%; width: 30%; float: left"></div>
                     <div id="bullseye_epvs_sub_colorbar" style="margin-left: 10%; width: 30%; float: left"></div>-->
                 </div>
             </div>
         </div>
     </div>
     <div id="right_view" style="width:30%; height:100%; float:left">
         <div id='3d' class='threeDRenderer' style="width:100%; height:66%;">
             <div id="colormap_wmh" style="position: absolute; left: 10px; bottom: 10px"></div>
             <div id="colormap_cmb" style="position: absolute; left: 10px; bottom: 60px"></div>
             <div id="colormap_epvs" style="position: absolute; left: 10px; bottom: 110px"></div>
             <div id="colormap_overlaps" style="position: absolute; left: 10px; bottom: 160px"></div>
         </div>

         <div id='sliceAx' class='twoDRenderer' style="width:33.3%; height:34%; float: left;">
             <div id='blue_slider'></div>
             <div id='ax_right_label' class='left_annotation'>R</div>
             <div id='ax_left_label' class='right_annotation'>L</div>
             <div id='ax_top_label' class='top_annotation'>A</div>
             <div id='ax_bottom_label' class='bottom_annotation'>P</div>
         </div>
         <div id='sliceSag' class='twoDRenderer' style="width:33.4%; height:34%;  float: left;">
             <div id='red_slider'></div>
             <div id='sag_right_label' class='right_annotation'>P</div>
             <div id='sag_left_label' class='left_annotation'>A</div>
             <div id='sag_top_label' class='top_annotation'>S</div>
             <div id='sag_bottom_label' class='bottom_annotation'>I</div>
         </div>
         <div id='sliceCor' class='twoDRenderer' style="width:33.3%; height:34%;  float: left;">
             <div id='green_slider'></div>
             <div id='cor_right_label' class='left_annotation'>R</div>
             <div id='cor_left_label' class='right_annotation'>L</div>
             <div id='cor_top_label' class='top_annotation'>S</div>
             <div id='cor_bottom_label' class='bottom_annotation'>I</div>
         </div>
     </div>
 </div>

 <!--------------------------This is needed to use the parcoords library since this is just working with d3 v3------------------------>
<script src="libraries/d3js/d3.v3.min.js" type="text/javascript"></script>
<script>
    const d3version3 = d3;
    window.d3 = null;
</script>


<script src="libraries/parcoords/d3.parcoords.js" type="text/javascript"></script>
<link rel="stylesheet" href="libraries/parcoords/d3.parcoords.css">
<script src="libraries/d3js/d3.v5.min.js" type="text/javascript"></script>

<link rel="stylesheet" href="libraries/jquery-ui/jquery-ui.css">
<script src="libraries/jquery/jquery-1.12.4.js" type="text/javascript"></script>
<script src="libraries/jquery-ui/jquery-ui.js" type="text/javascript"></script>

<script src="libraries/d3_radarChart/radarChart.js" type="text/javascript"></script>

<script src="libraries/select-pure/bundle.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="libraries/select-pure/select_pure.css">

<script src="view/view_general_parameters.js" type="text/javascript"></script>

<link rel="stylesheet" href="libraries/font-awesome/font-awesome.min.css">


<script src="libraries/tail.select/tail.select.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="libraries/tail.select/tail.select-light.min.css">


<script src="libraries/tooltip_tippy/popper.min.v6.js" type="text/javascript"></script>
<script src="libraries/tooltip_tippy/tippy_v6.js" type="text/javascript"></script>

<script src="libraries/multijs/multi.js" type="text/javascript"></script>
<link rel="stylesheet" href="libraries/multijs/multi.css">


 <script src="constants.js" type="text/javascript"></script>
<!--<link rel="stylesheet" href="libraries/tooltip_tippy/tippy.css" />-->


<script>

        $(function () {
            initialize();
            //initialize_scene_tmpwmh();
            initialize_scene();
        });

</script>

</body>
</html>